
.container {
    padding: 20px;
}

/* Article headings */
h2 > a {
    color: black;
}

h2 > a:hover {
    text-decoration: none;
    color: grey;
}

.featurette-image {
    align-content: center;
    vertical-align: middle;
}

/* Navbar */
.dropdown-item:hover{
    color: red;
    font-weight: bold;
}

.fa.fa-shopping-cart {
    font-size: 20px;
}

#bootstrap-override a.nav-link:hover{
    color: red;
}

#bootstrap-override h1.navbar-brand {
    color: green;
}

#bootstrap-override h1.navbar-brand span {
    font-size: 150%;
    color: white;
    text-shadow: -1px 0 green, 0 1px green, 1px 0 green, 0 -1px green;
}

/* Modals */
.modal-header {
    padding: 5px;
}

#signInForm {
    padding: 0px;
}

#subscribeModal {
    padding: 0px;
}

input.form-control {
    margin-bottom: 5px;
}

#genderRadioButtons {
    text-align: center;
}


/* What's new section */
h4 {
    color: grey;
    text-align: center;
}

.zoom {
    align-self: center;
    min-height: 280px;
    width: 280px;
    transition: transform .2s;
}

#bootstrap-override img.figure-img.img-fluid.rounded.zoom:hover{
    border: 1px solid gray;
}

/* Brand logos */
div.col-sm {
    text-align: center;
}

a.brands-02.brands-02-text {
    text-align: center;
}

/* Media Query - Modal Subscribe */
@media(max-width: 372px){
    #genderRadioButtons{
      text-align:left;
    }
}